<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-7.0.0.18-Q16-x64" version="1.0.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-x86" version="7.4.6" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
</packages>